<!-- footer -->


<div class="container">
	<div class="row padding_footer1">

		<div class="col-md-2 no-padding col-sm-3 col-xs-6">
			<div class="logo_footer">
				<img src="/assets/img/logo_footer.png" alt="">
			</div>
		</div>

		<div class="col-md-offset-8 col-md-2 col-sm-offset-6 col-sm-3 col-xs-6">
			<div class="sotial_link">
				<a href="#" target="_blank">
					<img src="/assets/img/mail.png" alt="">
				</a>

<!-- 						<a href="#" target="_blank">
							<img src="/assets/img/skype.png" alt="">
						</a> -->

						<a href="#" target="_blank">
							<img src="/assets/img/facebook.png" alt="">
						</a>

					</div>
				</div>

				<hr>

			</div>

			<div class="row padding_footer2">

				<div class="col-md-2 col-sm-6 col-xs-12 margin_footer">
					<div class="first_column">
						
						<a href="#">NOUTĂŢI</a>
						<a href="#">PARTENERI</a>
						<a href="#">TESTIMONIALE</a>
						<a href="#">CLIENŢI</a>
						<a href="#">DOWNLOAD</a>

					</div>
				</div>

				<div class="col-md-offset-1 col-md-2 col-sm-6 col-xs-12 margin_footer">

					<div class="column_zagolovok">

						<a href="#" class="zagolovok_footer">DESPRE NOI</a>

						<div class="sub_zagolovok">

							<a href="#">Acreditări</a>
							<a href="#">Prezentare generală</a>
							<a href="#">Scurt istoric</a>
							<a href="#">Conducerea</a>
							<a href="#">Personal</a>

						</div>

					</div>

				</div>

				<div class="col-md-2 col-sm-6 col-xs-12 margin_footer">
					<div class="last_column">
						
						<a href="#">Organigrama</a>
						<a href="#">Misiune, concept,
						strategie</a>
						<a href="#">Noutăţi</a>
						<a href="#">Galerie foto</a>

					</div>
				</div>

				<div class="col-md-2 col-sm-6 col-xs-12 margin_footer">
					<div class="column_zagolovok">
						
						<a href="#" class="zagolovok_footer">ACTIVITAțI</a>

						<div class="sub_zagolovok">

							<a href="#">Materiale și produse 
							pentru construcții</a>
							<a href="#">Laborator încercări</a>
							<a href="#">Mobilier</a>
							<a href="#">Încercări radiologie</a>
							<a href="#">Certificate</a>
							<a href="#">Cere oferta</a>
							<a href="#"></a>

						</div>

					</div>
				</div>

				<div class="col-md-offset-1 col-md-2 col-sm-6 col-xs-12 margin_footer">

					<div class="column_zagolovok">
						
						<a href="#" class="zagolovok_footer">CONTACTE</a>

						<div class="sub_zagolovok">
							<ul>

								<li>
									<a href="#">(+373) 78 191 001</a>
								</li>

								<li>
									<a href="#">str. Uzinelor, nr. 9, 
										et. 3, bir. 15,<br>
									mun. Chişinău, RM</a>
								</li>

							</ul>

						</div>

					</div>

				</div>


			</div>

			<div class="row">
				
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="copirite">
						<h4>© 2018 Toate drepturile rezervate.</h4>
					</div>
				</div>

				<div class="col-md-offset-7 col-md-2 col-sm-6 col-xs-12">

					<div class="marsala">
						<a href="http://marsala.md" target="_blank">Developed by <img src="/assets/img/marsala.png" alt=""></a>
					</div>

				</div>

			</div>

		</div>