<!-- menu mobile -->

<div class="mobile_menu">
	
	<div class="logo">
		<img src="/assets/img/logo_menu.png" alt="">
	</div>

	<div class="number">

		<a href="tel:+37322903001">(+373) 22 903 001</a>

		<div class="burg_menu">
			<span></span>
			<span></span>
			<span></span>
		</div>

	</div>

</div>

<!-- menu -->

<div class="menu">

	<hr>

	<div class="line_1">
		<div class="row">

			<div class="col-md-2">
				<div class="logo">
					<img src="/assets/img/logo_menu.png" alt="">
				</div>
			</div>

			<div class="col-md-offset-6 col-md-4">

				<div class="number_and_language">
					<a href="tel:+37322903001"><img src="/assets/img/tel.png" alt="">(+373) 78 191 001</a>
					<div class="language_block">
						<a href="#">RU</a>
						<a href="#">RO</a>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="line_2">

		<div class="col-md-offset-2 col-md-10">

			<div class="line_2_menu">

				<ul>
					<li>
						<a href="#">ACASĂ</a>
					</li>

					<li>
						<a href="#">DESPRE NOI</a>
					</li>

					<li>
						<a href="#">ACTIVITAțI</a>
					</li>

					<li>
						<a href="#">CLIENŢI</a>
					</li>

					<li>
						<a href="#">MARTURII</a>
					</li>

					<li>
						<a href="#">CONTACTE</a>
					</li>

					<li>
						<a href="#">NOUTĂŢI</a>
					</li>

					<li>
						<a href="#">DOWNLOAD</a>
					</li>
				</ul>

			</div>

		</div>

	</div>

</div>
