* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	background: #f9f9f9;
	padding-top: 220px;
	padding-bottom: 240px;
}

.scrl_1_up_text {
	text-align: center;
	margin-bottom: 90px;
}

.scrl_1_up_text h3 {
	font-size: 30px;
	color: #000;
}

.left_block {
	position: relative;
}

.left_block span {
	position: absolute;
	width: 1px;
	top: -75px;
	bottom: -175px;
	right: 10px;
	background: #d7d7d7;
}

.left_block ul li {
	list-style: none;
	padding-bottom: 28px;
}

.left_block ul li:last-child {
	padding-bottom: 0;
}

.left_block ul li a {
	font-size: 18px;
	color: #000;
	padding-left: 30px;
	position: relative;
	width: 300px;
	display: block;
	line-height: 29px;
}

.left_block ul li.active a {
	color: #004d9c!important;
	text-decoration: none!important;
}

.left_block ul li.active a:before {
	content: url(/assets/img/noutati/check.png);
	position: absolute;
	left: 0;
}

.tab_content_activatii_img {
	width: 470px;
	height: 215px;
	border-radius: 5px;
}

.tab_content_activatii p {
	font-family: 'Conv_AvenirNextMedium';
	font-size: 16px;
	line-height: 27px;
	color: #666;
	padding-bottom: 45px;
}

@media only screen and (max-width : 1199px){
	.left_block ul li a {
		font-size: 16px;
	}
}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

	.left_block ul li a {
		font-size: 14px;
		width: 85%;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.left_block span {
		display: none;
	}

	.scrl_1_up_text {
		margin-bottom: 50px;
	}

	.left_block ul li {
		padding-bottom: 18px;
	}

	.left_block {
		margin-bottom: 40px;
	}

	.tab_content_activatii_img {
		width: 100%;
	}

	.scroll_1 {
		padding-top: 100px;
		padding-bottom: 60px;
	}

	.scrl_1_up_text h3 {
		font-size: 25px;
	}

	.tab_content_activatii p {
		font-size: 14px;
		line-height: 24px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){}