* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	height: 100vh;
	min-height: 650px;
	position: relative;
	padding-top: 45vh;
}

.scroll_1::before {
	position: absolute;
	content: '';
	background: rgba(0,0,0,.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.scrl1_content {
	text-align: center;
}

.scrl1_content h3 {
	font-size: 40px;
	color: #fffefe;
}

.scroll_2 {
	padding: 85px 0;
}

.scrl2_up_text {
	text-align: center;
	margin-bottom: 60px;
}

.scrl2_up_text h2 {
	padding-bottom: 30px;
}

.scrl2_up_text h4 {
	font-family: 'Conv_AvenirNextMedium';
	font-size: 16px;
	color: #6c6b6b;
	line-height: 31px;
}

.scrl2_collapse {
	padding-left: 30px;
	padding-right: 25px;
	width: 100%;
	border-radius: 5px;
	background: #f2f2f2;
	margin-bottom: 20px;
	position: relative;
}

.scrl2_collapse h3, .scrl2_collapse h4, .arrow_collapse {
	display: inline-block;
}

.scrl2_collapse h3 {
	font-family: 'Conv_AvenirNextDemiBold';
	font-size: 14px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 50%;
}

.scrl2_collapse h4 {
	position: absolute;
	right: 110px;
	top: 30px;
	font-family: 'Conv_AvenirNextRegular';
	color: #888;
	font-size: 14px;
}

.arrow_collapse {
	position: absolute;
	top: 30px;
	right: 25px;
}

.scrl2_collapse {

}

.block_down p {
	font-family: 'Conv_AvenirNextMedium';
	padding-top: 25px;
	font-size: 14px;
	color: #666;
}

.block_down form input, .block_down form button {
	display: inline-block;
}

.block_down form button {
	font-family: 'Conv_AvenirNextDemiBold';
	font-size: 12px;
	width: 160px;
	height: 50px;
	border-radius: 24px;
	text-align: center;
	line-height: 50px;
	border: none;
	color: #fff;
	background: #d0422c;
}

.block_down form {
	margin-top: 70px;
	text-align: right;
	padding-bottom: 30px;
}

.block_down form label {
	position: relative;
	text-align: left;
	margin-right: 40px;
}

.block_down form label input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.block_down form span {
	font-size: 14px;
	color: #2b558c;
	padding-right: 46px;
}

.block_down form label img {
	position: absolute;
	right: 0;
	top: -5px;
}

@media only screen and (max-width : 1199px){}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){
	.scroll_1 {
		padding-top: 50vh;
	}

	.scrl1_content h3 {
		font-size: 30px;
	}

	.scroll_2 {
		padding: 45px 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px){}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.scrl1_content h3 {
		font-size: 25px;
	}

	.scrl2_up_text h2 {
		font-size: 25px;
		padding-bottom: 15px;
	}

	.scrl2_up_text h4 {
		font-size: 14px;
		line-height: 30px;
	}

	.scrl2_collapse h4 {
		right: 60px;
	}

	.scrl2_collapse h3 {
		font-size: 12px;
		padding-right: 45%;
	}

	.block_down p {
		font-size: 12px;
	}

	.block_down form label {
		margin-bottom: 15px;
		text-align: center;
		display: block;
	}

	.block_down form button {
		display: block;
		margin: auto;
		height: 40px;
		line-height: 40px;
	}

	.block_down form span {
		padding-right: 15px;
	}
}