* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	padding-top: 200px;
	padding-bottom: 55px;
	background: #f9f9f9;
}

.scrl1_up_text {
	text-align: center;
	margin-bottom: 63px;
}

.scrl1_up_text h2 {
	color: #004f9d;
}

.scrl1_left_block {
	box-shadow: 0px 10px 20px 0px rgba(59, 68, 82, 0.15); 
	padding-top: 55px;
	height: 460px;
	background: #fff;
}

.scrl1_left_block h3 {
	font-family: 'Conv_AvenirNextRegular';
	text-align: center;
	font-size: 16px;
	padding-bottom: 84px;
}

.scrl1_left_block a, .scrl1_left_block h4 {
	font-family: 'Conv_AvenirNextDemiBold';
	font-size: 16px;
	color: #004f9d;
	display: block;
	text-align: center;
	padding: 0 100px;
	padding-bottom: 30px;
}

.scrl1_left_block h4:last-child {
	padding-bottom: 0;
}

.scrl1_left_block a img, .scrl1_left_block h4 img {
	margin-right: 10px;
}

.scrl1_left_block h4 {
	line-height: 26px;
	color: #000;
}

.scrl1_right_block input, .scrl1_right_block h4, .scrl1_right_block button {
	display: block;
}

.scrl1_right_block {
	padding-top: 50px;
	background: #fff;
	height: 460px;
	text-align: center;
	padding-left: 85px;
	padding-right: 85px;
	box-shadow: 0px 10px 20px 0px rgba(59, 68, 82, 0.15); 
}

.scrl1_right_block h4 {
	font-family: 'Conv_AvenirNextRegular';
	font-size: 16px;
	color: #333;
	padding-bottom: 40px;
}

.scrl1_right_block input {
	outline: none;
	border: none;
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
	margin-bottom: 35px;
	padding-bottom: 3px;
}

.scrl1_right_block input::placeholder {
	font-family: 'Conv_AvenirNextRegular';
	padding-left: 3px;
	font-size: 12px;
	color: #b4b4b4;
}

.scrl1_right_block textarea {
	font-size: 12px;
	padding-top: 10px;
	padding-left: 10px;
	border: 1px solid #e1e1e1;
	width: 100%;
	height: 80px;
	resize: none;
	border-radius: 3px;
	margin-bottom: 10px;
	outline: none;
}

.scrl1_right_block textarea::placeholder {
	font-family: 'Conv_AvenirNextRegular';
	font-size: 12px;
	color: #b4b4b4;
}

.scrl1_right_block form input:nth-child(5) {
	margin-bottom: 50px;
}

.scrl1_right_block button {
	color: #fff;
	margin: auto;
	width: 180px;
	height: 55px;
	border-radius: 27px;
	border: 0;
	background: #d0422c;
}

.scrl1_block_padding {
	margin-bottom: 65px;
}

#maps {
	width: 100%;
	height: 460px;
	box-shadow: 0px 10px 20px 0px rgba(59, 68, 82, 0.15); 
}

#maps #content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 145px;
	height: 75px;
	overflow: auto;
}

#maps #content h4 {
	text-align: center;
	font-size: 12px;
	color: #333;
}

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1199px){
	.scrl1_left_block a, .scrl1_left_block h4 {
		font-size: 14px;
		padding: 0 70px;
		padding-bottom: 30px;
	}
}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

	.scroll_1 {
		padding-top: 120px;
	}

	.scrl1_up_text {
		margin-bottom: 40px;
	}

	.scrl1_up_text h2 {
		font-size: 25px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

	.scrl1_block_padding {
		width: 360px;
		margin: auto;
		margin-bottom: 30px;
	}

	.scrl1_right_block button {
		width: 150px;
		height: 45px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.scrl1_block_padding {
		width: 290px;
	}

	.scrl1_left_block a, .scrl1_left_block h4 {
		padding: 0 40px;
		padding-bottom: 30px;
	}

	.scrl1_right_block {
		padding-left: 35px;
		padding-right: 35px;
	}
}