* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	padding-top: 220px;
	padding-bottom: 60px;
}

.scrl1_up_text {
	text-align: center;
	margin-bottom: 50px;
}

.download_block {
	position: relative;
	background: #f3f3f3;
	border-radius: 10px;
	height: 325px;
	padding: 0 65px;
	padding-top: 35px;
	margin-bottom: 60px;
}

.download_block h2 {
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	color: #0755a0;
	padding-bottom: 30px;
}

.download_block a {
	display: block;
	text-align: center;
	width: 180px;
	height: 50px;
	line-height: 50px;
	border-radius: 27px;
	font-size: 12px;
	color: #fff;
	background: #d0422c;
	margin: auto;
	opacity: 0;
	pointer-events: none;
	transition: .2s;
}

.download_block:hover a {
	transition: .2s;
	opacity: 1;
	pointer-events: auto;
}

.download_block img {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.scrl1_text1 {
	text-align: center;
}

.scrl1_text1 h4 {
	font-family: 'Conv_AvenirNextMedium';
	font-size: 18px;
	color: #666;
	line-height: 25px;
	padding: 0 60px;
	margin-bottom: 30px;
}

.scrl1_text1 h4 span {
	font-family: 'Conv_AvenirNextMedium';
	color: #055faf;
}

.scrl1_text1 img {
	padding-bottom: 30px;
}

.scrl1_text2 {
	text-align: center;
}

.scrl1_text2 h4 {
	padding-bottom: 40px;
	font-family: 'Conv_AvenirNextDemiBold';
	font-size: 18px;
	color: #e41e2e;
}

.scrl1_text2 p {
	font-family: 'Conv_AvenirNextMedium';
	line-height: 29px;
	font-size: 14px;
	color: #666;
}

@media only screen and (max-width : 1199px){

	.scroll_1 {
		padding-top: 170px;
	}

	.scrl1_up_text h2 {
		font-size: 25px;
	}

	.download_block {
		padding: 0 25px;
		padding-top: 35px;
		margin-bottom: 60px;
	}

	.download_block h2 {
		font-size: 16px;
	}

	.scrl1_text1 h4 {
		font-size: 16px;
		padding: 0 10px;
	}

}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){
	.scroll_1 {
		padding-top: 90px;
	}

	.download_block a {
		opacity: 1;
		pointer-events: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.download_block {
		width: 320px;
		margin: auto;
		margin-bottom: 30px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.download_block {
		width: 290px;
		height: 300px;
	}

	.scrl1_text1 h4 {
		font-size: 14px;
	}
}