* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	min-height: 650px;
	position: relative;
	width: 100%;
	height: 100vh;
	padding-top: 45vh;
}

.scroll_1::before {
	content: '';
	position: absolute;
	background: rgba(0,0,0,.4);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.scrl1_content {
	text-align: center;
}

.scrl1_content h2 {
	color: #fffefe;
	font-size: 35px;
	padding-bottom: 20px;
}

.scrl1_content h4 {
	color: #dedede;
	font-size: 16px;
}

.scroll_2 {
	background: #f2f2f2;
	padding-top: 70px;
	padding-bottom: 70px;
}

.scrl2_up_text {
	text-align: center;
}

.scrl2_up_text h3 {
	font-size: 30px;
	color: #333;
	padding-bottom: 45px;
}

.scrl_cards:nth-child(3n) {
	margin-right: 0;
}

.scrl_cards:first-child {
	margin-right: 35px;
}

.scrl_cards:last-child {
	margin-right: 0;
}

.scrl_cards {
	position: relative;
	margin-right: 35px;
	width: 300px;
	height: 365px;
	background: #fff;
	border-radius: 10px;
	padding-top: 40px;
	box-shadow: 0px 10px 15px 0px rgba(54, 63, 71, 0.15);
	text-align: center;
	margin-bottom: 30px;
}

.scrl_cards_img {
	width: 95px;
	height: 95px;
	margin: auto;
	border-radius: 100%;
	margin-bottom: 25px;
}

.scrl_cards h3 {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
	color: #333;
}

.scrl_cards h4 {
	font-family: 'Montserrat', sans-serif;
	color: #777;
	font-size: 12px;
	font-weight: 500;
}

.scrl_cards_parent {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cards_left {
	justify-content: left!important;
}

.scrl3_up_text {
	text-align: center;
	padding-bottom: 48px;
}

.scrl3_up_text h2 {
	font-size: 30px;
	color: #333;
	padding-bottom: 20px;
}

.scrl3_up_text h3 {
	font-size: 18px;
	color: #0058a3;
	padding-bottom: 25px;
}

.scrl3_up_text h4 {
	color: #929191;
	font-size: 18px;
	line-height: 32px;
	font-family: 'Conv_AvenirNextMedium';
}

.scrl_cards_content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 45px;
}

.scrl_cards_content a {
	padding-bottom: 2px;
	text-align: center;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #000;
	font-size: 14px;
}

.scrl_cards_content a span {
	color: #0058a3;
}

.scrl_cards_content a:hover {
	text-decoration: underline;
}

.scroll_3 {
	padding-top: 70px;
	background: #f9f9f9;
	padding-bottom: 90px;
}

.scrl3_center_text {
	padding-top: 90px;
}

.scrl3_center_text {
	text-align: center;
	padding-bottom: 48px;
}

.scrl3_center_text h3 {
	font-size: 18px;
	color: #0058a3;
	padding-bottom: 21px;
}

.scrl3_center_text h4 {
	color: #929191;
	font-size: 18px;
	line-height: 28px;
	font-family: 'Conv_AvenirNextMedium';
}

.scrl2_img {
	margin-top: 85px;
	width: 100%;
	display: block;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.18); 
}

.scrl2_img a:focus {
	outline: none;
}

.scrl2_img img {
	width: 100%;
}

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1199px){

	.scroll_2 {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.scrl2_up_text h3 {
		font-size: 25px;
		padding-bottom: 25px;
	}

	.scrl_cards {
		width: 260px;
		height: 345px;
		margin-bottom: 5px;
	}

	.scrl_cards h3 {
		padding-bottom: 5px;
	}

	.scrl_cards_content a {
		font-size: 13px;
	}

	.scrl_cards:first-child {
		margin-right: 5px;
	}

	.scrl_cards {
		margin-right: 5px;
	}

	.scroll_3 {
		padding-top: 30px;
	}

	.scrl3_up_text h2 {
		font-size: 25px;
		padding-bottom: 15px;
	}

	.scrl3_up_text h3 {
	}

	.scrl3_up_text h3 {
		font-size: 16px;
		padding-bottom: 15px;
	}

	.scrl3_up_text h4 {
		font-size: 14px;
		line-height: 25px;
	}

	.scrl3_up_text {
		padding-bottom: 35px;
	}

	.scrl3_center_text {
		padding-top: 60px;
		padding-bottom: 30px;
	}

	.scrl3_center_text h3 {
		font-size: 16px;
		padding-bottom: 15px;
	}

	.scrl3_center_text h4 {
		font-size: 14px;
		line-height: 25px;
	}

	.scrl2_img {
		margin-top: 55px;
	}

	.scroll_3 {
		padding-bottom: 50px;
	}
}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

	.scrl_cards:nth-child(3n) {
		margin-right: 30px;
	}

	.scrl_cards:last-child {
		margin: 0;
	}

	.scrl_cards {
		margin-right: 30px;
		margin-bottom: 10px;
	}

	.scrl_cards:first-child {
		margin-right: 30px;
	}

	.scrl_cards:nth-child(2n) {
		margin-right: 0;
	}

	.scrl_cards_parent {
		width: 550px;
		margin: auto;
		justify-content: left;
	}

	.scrl3_up_text h4 {
		padding-right: 15px;
		padding-left: 15px;
	}

	.scrl3_center_text h4 {
		padding-left: 15px;
		padding-right: 15px;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

	.scrl_cards_parent {
		width: 260px;
		margin: auto;
	}

	.scrl_cards:nth-child(3n) {
		margin-right: 0;
	}

	.scrl_cards {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.scrl_cards:first-child {
		margin-right: 0;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){}
