* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	background: #f9f9f9;
	padding-top: 220px;
}

.scrl1_up_text {
	margin-bottom: 65px;
}

.scrl1_up_text h3 {
	text-align: center;
	font-size: 30px;
	color: #000;
}

/*news block*/

.news_block {
	position: relative;
	height: 300px;
	margin-bottom: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.news_block_img {
	position: absolute;
	left: 0;
	border-radius: 5px;
	height: 300px;
	width: 300px;
}

.new_block_content {
	padding-left: 340px;
}

.new_block_content h4 {
	font-family: 'Conv_AvenirNextMedium';
	color: #0055a0;
	font-size: 16px;
	padding-bottom: 20px;
}

.new_block_content hr {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	height: 1px;
	background: #ccc;
	width: 65.3%;
}

.new_block_content h3 {
	font-size: 30px;
	color: #000;
	line-height: 40px;
	padding-right: 60px;
	padding-bottom: 25px;
}

.new_block_content h5 {
	font-family: 'Conv_AvenirNextMedium';
	padding-bottom: 45px;
	font-size: 14px;
	color: #777;
}

.new_block_content a {
	font-family: 'Conv_AvenirNextDemiBold';
	display: block;
	width: 165px;
	height: 50px;
	border-radius: 25px;
	background: #d0422c;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}

/*media*/

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1199px){
	.new_block_content h4 {
		font-size: 14px;
		padding-bottom: 15px;
	}

	.new_block_content h3 {
		font-size: 20px;
		line-height: 30px;
	}

	.new_block_content h5{
		font-size: 12px;
	}

	.new_block_content a {
		width: 140px;
		height: 40px;
		line-height: 40px;
		font-size: 11px;
	}

	.new_block_content {
		padding-left: 300px;
	}

	.news_block_img {
		width: 250px;
		height: 250px;
	}
}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

	.scroll_1 {
		padding-top: 130px;
	}

	.new_block_content {
		padding-left: 280px;
	}

	.new_block_content h4 {
		font-size: 12px;
		padding-bottom: 10px;
	}

	.new_block_content h3 {
		font-size: 16px;
		line-height: 26px;
	}

	.new_block_content h5 {
		font-size: 11px;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.news_block {
		display: block;
		height: auto;
	}

	.news_block_img {
		display: block;
		position: static;
		margin: auto;
	}

	.new_block_content {
		text-align: center;
		display: block;
		padding: 0;
		padding-top: 30px;
	}

	.new_block_content h3 {
		padding: 0;
		padding: 0 65px;
		padding-bottom: 15px;
	}

	.new_block_content a {
		margin: auto;
	}

	.new_block_content hr {
		margin: auto;
		margin-bottom: 25px;
	}

	.new_block_content h5 {
		padding-bottom: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.new_block_content h3 {
		padding: 0;
		padding-bottom: 15px;
	}
}