* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('/assets/fonts/Georgia.woff2') format('woff2'),
	url('/assets/fonts/Georgia.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	padding-top: 220px;
	padding-bottom: 50px;
	background: #f9f9f9;
}

.scrl1_up_text {
	text-align: center;
	margin-bottom: 50px;
}

.scrl1_up_text h3 {
	font-size: 30px;
	color: #000;
}

.article_block h2 {
	color: #0059a3;
	font-style: italic;
	font-size: 32px;
	position: relative;
	padding-bottom: 35px;
	margin-bottom: 52px;
}

.article_block h2 span {
	position: absolute;
	height: 1px;
	left: -60px;
	right: -60px;
	bottom: 0;
	margin: auto;
}

.article_block h2 span img {
	width: 100%;
	height: 100%;
}

.article_block h3 {
	font-size: 16px;
	color: #000;
	padding-bottom: 43px;
}

.article_block p {
	font-family: 'Conv_AvenirNextMedium';
	font-size: 16px;
	line-height: 33px;
	color: #777;
	padding-bottom: 23px;
}

.article_block p span {
	font-family: 'Conv_AvenirNextMedium';
	color: #0059a3;
}

.article_block img {
	display: block;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 30px;
}

.share_block {
	text-align: right;
	margin-bottom: 60px;
}

.share_block h4 {
	position: relative;
	top: 2px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #777;
	padding-right: 46px;
}

.share_block a {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin-right: 16px;
}

.share_block a:last-child {
	margin-right: 0;
}

.share_block a img {
	width: 100%;
	height: 100%;
}

.visible_block {
	text-align: right;
	margin-bottom: 40px;
}

.visible_block h4 {
	/*padding-right: 80px;*/
	position: relative;
	font-family: 'Georgia';
	display: inline-block;
	font-size: 15.9px;
	color: #838181;
	padding-bottom: 15px;
}

.visible_block h4:first-child:before {
	position: absolute;
	content: url(/assets/img/noutati_interior/time.png);
	left: -24px;
	top: 2px;
}

.visible_block h4:nth-child(2):before {
	position: absolute;
	content: url(/assets/img/noutati_interior/glaz.png);
	left: -24px;
	top: 2px;
}

.visible_block h4:nth-child(2) {
	padding-right: 0;
}

.visible_block hr {
	margin: 0;
	display: block;
	width: 100%;
	height: 1px;
	background: #a1a1a1;
}

/*media*/

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1400px){
	.article_block h2 span {
		right: 0;
		left: 0;
	}
}

@media only screen and (max-width : 1199px){}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){
		.scroll_1 {
		padding-top: 120px;
	}

	.article_block h2 {
		text-align: center;
		font-size: 25px;
		line-height: 35px;
		padding-bottom: 20px;	
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.article_block h2 {
		font-size: 20px;
		line-height: 27px;
	}

	.article_block h3 {
		padding-bottom: 20px;
	}

	.article_block p {
		font-size: 14px;
		line-height: 26px;
	}

	.share_block h4 {
		padding-right: 26px;
		font-size: 16px;
	}

	.share_block a {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	.scrl1_up_text h3 {
		font-size: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){}