* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	position: relative;
	min-height: 650px;
	padding-top: 45vh;
	height: 100vh;
}

.scroll_1::before {
	background: rgba(0,0,0,.5);
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	right: 0;
	top: 0;
}

.scrl1_content h3 {
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: #fff;
}

.scroll_2 {
	padding: 80px 0;
	background: #f9f9f9;
}

/*testemonials slider*/

.testemonials_slide {
	position: relative;
	width: 970px;
	margin: auto;
}

.testemonials_slide .slide {
	margin: 0 10px;
	padding: 80px 10px 0 10px;
	border-radius: 10px;
	position: relative;
	background: #fff;
	outline: none;
	height: 450px;
	width: 350px;
}

.testemonials_slide .slide .photo_slide {
	border-radius: 100%;
	margin: auto;
	width: 110px;
	height: 110px;
	margin-bottom: 30px;
}

.testemonials_slide .slide::before {
	content: url(/assets/img/testemonials/cavichki.png);
	position: absolute;
	top: 30px;
	left: 30px;
}

.testemonials_slide .slide h3 {
	padding-bottom: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #333;
}

.testemonials_slide .slide h4 {
	font-family: 'Conv_AvenirNextMedium';
	text-align: center;
	line-height: 29px;
	font-size: 14px;
	color: #888;
}

.testemonials_slide .arrow {
	color: #333;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-align: center;
	line-height: 40px;
	background: #fff;
	margin: auto;
	transition: .2s;
}

.testemonials_slide .arrow:hover {
	background: #1369be;
	color: #5794d1;
	transition: .2s;
}

.testemonials_slide .arrowL {
	left: -90px;
}

.testemonials_slide .arrowR {
	padding-left: 3px;
	right: -93px;
}

/*media*/

@media only screen and (max-width : 1199px){
	.testemonials_slide {
		width: 750px;
	}

	.testemonials_slide .slide {
		height: 380px;
	}

	.testemonials_slide .slide h3 {
		font-size: 14px;
		padding-bottom: 10px;
	}

	.testemonials_slide .slide h4 {
		line-height: 20px;
		font-size: 11px;
	}
}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

	/*testemonials slider*/

	.testemonials_slide {
		width: 600px;
	}

	.testemonials_slide .arrowL {
		left: -70px;
	}

	.testemonials_slide .arrowR {
		right: -73px;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

	/*testemonials slider*/

	.testemonials_slide {
		width: 320px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

	/*testemonials slider*/

	.testemonials_slide {
		width: 290px;
	} 

	.testemonials_slide .arrow {
		top: inherit;
		bottom: -50px;
		margin: auto;
	}

	.testemonials_slide .arrowR {
		right: -60px;
		left: 0;
	}

	.testemonials_slide .arrowL {
		left: -60px;
		right: 0;

	}
}
